<form name="productForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Basic P Information</legend>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label for="inputProductName" class="col-md-2 control-label">
                Product Name
            </label>
            <div class="col-md-4">
                <input id="inputProductName"
                       name="inputProductName"
                       type="text"
                       class="form-control"
                       placeholder="P Name (required)"
                       ng-model="PListVM.product.productName"
                       required 
                       ng-minlength="4" 
                       ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">P name required.</span>                
                <span ng-show="productForm.inputProductName.$error.minlength">Must be atleast 4 char in length.</span>
                <span ng-show="productForm.inputProductName.$error.maxlength">Cannot exceed 12 char in length.</span>
            </span>            
        </div>
        <div class=" form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductCode">Product Code</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductCode"
                       name="inputProductCode"
                       ui-mask="AAA-**** (required)"
                       ng-model="PListVM.product.productCode"
                       required />
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid">P Code required.
            </span>
        </div>        
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputAvailabilityDate">Availability</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="MMM dd, yyyy "
                           is-open="PListVM.opened"
                           ng-model="PListVM.product.releaseDate" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="PListVM.open($event)">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDescription">Description</label>
            
            <div class="col-md-10">
                <textarea id="inputDescription"
                          placeholder="P Desc"
                          class="form-control"
                          rows="3"
                          ng-model="PListVM.product.description" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="PListVM.submit(productForm.$valid)">
                            <!--ng-disabled="productForm.$invalid"-->
                            
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="PListVM.cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>